<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <form action="/category/create" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Default Modal</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- form start -->
          <div class="card-body">
            <div class="form-group">
              <label for="category">Masukan Nama Kategori</label>
              <input
                type="text"
                class="form-control"
                id="category"
                name="name"
                placeholder="Masukan Nama Kategori"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Tambah</button>
        </div>
      </div>
    </form>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
