<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <form action="/bank/create" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Tambah Bank</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- form start -->
          <div class="card-body">
            <div class="form-group">
              <label for="name">Nama Pemilik</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Masukan Pemilik Rekening"
              />
            </div>
            <div class="form-group">
              <label for="bankName">Nama Bank</label>
              <input
                type="text"
                class="form-control"
                id="bankName"
                name="bankName"
                placeholder="Masukan Nama Bank"
              />
            </div>
            <div class="form-group">
              <label for="noRekening">No Rekening</label>
              <input
                type="number"
                class="form-control"
                id="noRekening"
                name="noRekening"
                placeholder="Masukan Nomor Rekening"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Tambah</button>
        </div>
      </div>
    </form>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
