<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <form action="/nominal/create" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Tambah Koin</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- form start -->
          <div class="card-body">
            <div class="form-group">
              <label>Nama Koin</label>
              <select
                class="form-control select2"
                style="width: 100%"
                name="coinName"
              >
                <option selected="selected" value="Gold">Gold</option>
                <option value="Silver">Silver</option>
                <option value="Bronze">Bronze</option>
              </select>
            </div>
            <div class="form-group">
              <label for="coinQuantity">Coin Quantity</label>
              <input
                type="number"
                class="form-control"
                id="coinQuantity"
                name="coinQuantity"
                placeholder="Masukan Nama Kategori"
              />
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input
                type="number"
                class="form-control"
                id="price"
                name="price"
                placeholder="Masukan Nama Kategori"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Tambah</button>
        </div>
      </div>
    </form>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
